<a href="https://colab.research.google.com/github/RAHUL120244/unit1.py/blob/main/unit1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nested dictionary

In [ ]:
my_family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(my_family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

COPYING DICTIONARY:--

In [ ]:
car = {
    "model": "sedan",
    "name": "Toyota Camry",
    "year": 2022
}
car_copy=car.copy() # mutable for main list
car_copy['name']='blue'
print(car)
print(car_copy)
car_copy=dict(car) # by this we can create copy
for x in car:
  print(x)
for x in car.keys():
  print(x)
for x in car.values():
  print(x)
for K,V in car.items():
  print(K, V)

{'model': 'sedan', 'name': 'Toyota Camry', 'year': 2022}
{'model': 'sedan', 'name': 'blue', 'year': 2022}
model
name
year
model
name
year
sedan
Toyota Camry
2022
model sedan
name Toyota Camry
year 2022

In [ ]:
X={'a':1,'b':2}
Y=X
print(id(X))
print(id(Y))
print(X==Y)
print(X is Y)
Z={'a':1,'b':2}
print(X==Z)
print(X is Z)
Y={'c':3,'d':4}
print(X)
print(Y)
#copy function:--

131990888334848
131990888334848
True
True
True
False
{'a': 1, 'b': 2}
{'c': 3, 'd': 4}

In [ ]:
car = {
    "model": "sedan",
    "name": "Toyota Camry",
    "year": 2022
}
print(car.pop('model'))
print(car.popitem())
print(car.clear())

sedan
('year', 2022)
None

In [ ]:
student=["arav","risa","ravi"]
marks=[70,80,92]
dic={}
for i in range(len(student)):
  dic[student[i]]=marks[i]
print(dic)
#or
{student[i]:marks[i] for i in range(len(student))}

{'arav': 70, 'risa': 80, 'ravi': 92}

{'arav': 70, 'risa': 80, 'ravi': 92}

In [ ]:
#.item key + value print kar dega

In [ ]:
f=["apple","orange","apple","bnana","apple"]
count={}
for i in f:
  count[i]=count.get(i,0)+1
print(count)

{'apple': 6, 'orange': 2, 'bnana': 2}

In [ ]:
car=dict(brand="audi",model=2008)
print(car)

{'brand': 'audi', 'model': 2008}

In [ ]:
dic={"brand":"thar","model no":80,"year":2000}
dic["model no"]="auddy"
print(dic)
print(dic.get("brand")) #for get key valu
print(dic.get("fuel",'you have entered wrong key'))  #no key mathching
car_key=dic.keys()
print(car_key) #all keys are print
dic["brand"]='petrol'
print(dic.keys())

{'brand': 'thar', 'model no': 'auddy', 'year': 2000}
thar
you have entered wrong key
dict_keys(['brand', 'model no', 'year'])
dict_keys(['brand', 'model no', 'year'])

Q.if  A frame rate increase linearly over the temporal averaging
what is the total normaliztion rate.

Q. print for loop 1 to 100 square until undred

In [ ]:
num=[]
i=1
while i**2<=100: #we can also use i*i
  num.append(i*i)
  i=i+1

print(num)
#using for loop:--
num=[]
for x in range (1,11):
  num.append(x*x)
print(num)
#using for loop in list
num=[]
[num.append(x*x) for x in range(1,11)]
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List loop:-

In [ ]:
student_names=['rahul','sihag','vinod']
# for loop
for x in student_names:
  print(x)
for x in range(len(student_names)):
  print(x,":",student_names[x])  #for index number ke sath list element print karna
  #while loop
i=0
while i<len(student_names):
  print(i,":",student_names[i])
  i=i+1
 #list print:--
#for x in student_names:
[print(x) for x in student_names] # while se nhi hoga kyunki usko list me nahi likh sakate

rahul
sihag
vinod
0 : rahul
1 : sihag
2 : vinod
0 : rahul
1 : sihag
2 : vinod
rahul
sihag
vinod

[None, None, None]

BITWISE OPERATORS

In [ ]:
print(5 &3)
print(5|3)
print(5^3)
print(~5)
print(-10//4/3)
print("APPLE" < "apple")
print(True==2-3)

1
7
6
-6
-1.0
True
False

IDENTITY OPERATORS:--

In [ ]:
a=[1,2,3]
print(3 in a)
print("a" in "banana")
print("nana" in "banana")

True
True
True

LOGICAL OPERATOR:--

In [ ]:
print(0 and 5)
print(0 or 5)
print(not 5)
print([] and "hii")
print([] or "hii")
#a and b does not evaluate b if a is false .this called short circuiting

0
5
False
[]
hii

COMPARISON OPERATORS

In [ ]:
x,y=10,10
print(x==y)
print(x !=y)
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)
print(10 == 10.0)
print("10"==10)
print(True==1)
print(True + True)

True
False
False
False
True
True
True
False
True
2

ASSIGNMENT:-

In [ ]:
X=5
X*=2+3
print(X)#precidense of asteric is <precidice of +noperator
y=10
y//=3 #floor devision
print(y)
Z=10
Z%=3 #modulo
print(Z)
w=5
w **=3 #exponent
print(w)
#why use assinment operators :--
#code consistent and readability
#efficiency(in place updation):in python operators like += try to update object in place
a=[1,2]
b=a
a+=[3]
print(a)

a=[1,2]
b=a
a=a+[3]
print(b)# output is 1,2 because a new list was created

25
3
1
125
[1, 2, 3]
[1, 2]

In [ ]:
X=5
X&=3
print(X)
X=5
X |=3
print(X)
X=5
X^=3
print(X)
X=5
X=X>>1
print(X)
X=10
X=X<<1
print(X)
print(X:=3)

1
7
6
2
20
3

OPERATORS:-

In [ ]:
A=10
B=9
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A//B)
print(A**B)
c=2**3**2
print(c) #// is floor devision
print(-10//3)# python floor devision deffers from c++ in python you get the answer 4 where as in c++ we get -3
print(A%B)

19
1
90
1.1111111111111112
1
1000000000
512
-4
1

Q.check if any signal start with a and ends with c.

In [ ]:
s=["abcX","axbyc","a123c","123"]

print(any(i.startswith('a') and i.endswith('c') for i in s))
print(all(i.startswith('a') and i.endswith('c') for i in s))
print(bool([]))
print(bool(" "))

True
False
False
True

** Boolean data type

In [ ]:
print(10>4)
print(type(True)) #it define class of data type
a,b=10,20
print(a and b) #and gate
print(a or b) #or gate operation
print(10>9 and 9>8)
print(5>3 or 2>3)
print(not 5>3) # not gate
print(1 ^ 0) #xor gate operation
print(a^b)

a=a^b
b=a^b
a=a^b
print(a)
print(b)
print(bin(a))
marks =[60,70,80]
print(all(m>=40 for m in marks )) #for all we use all()
print(any(m>=90 for m in marks )) #for any we use any()
print(all([1,2,3]))
print(any([0,0,0,0]))

True
<class 'bool'>
20
10
True
True
False
1
30
20
10
0b10100
True
False
True
False

we defined the usage of capitals in a word be right when one of the following cases holdes

1.all letters in this words are capitals like USA

2.all letters in this word are not capital like leetcode

3.only first letter in this word is capital like Google

.Given a string word,return true if usage of capitals in it is right e.g.->USA,Output->True

input->FlaG,Output->false

In [ ]:
# X=input("enter any word")
# a=X.upper()
# b=/
X="USA"
if X.isupper():
  print("true")
else:
    print("false")
    #     OR
Words=["USA","India","Pak","china"]
for i in Words:
  if i==i.upper() or i==i.lower() or i==i.title():
    print("capital hai!")
  else :
    print("captal nahi hai!")

true
capital hai!
capital hai!
capital hai!
capital hai!

Q.lokii tried to trick avenger ,check if loki is in it .if yes print "enemy detected"  ow "all clear"

DIGIT METHOD -->>

In [ ]:
X="5080"
print(X.isdigit())
a="\u0030"
print(a.isdigit())
b="\u0002" #like powers
print(b.isdigit())
#check for phase or character is present in string-->> use of in
avenger="thanos,thor,strange"
print("thor" in avenger)
#using if with in keyword
if "thor" in avenger:
  print("yes thor is prasent in avenger ")
  # not in
print("hulk" not in avenger)
  #not in with if
if "hulk" not in avenger:
    print("not in avenger")

True
True
False
True

Q.In a digital communication each transmitted signal starts with header and ends with footer, you are given a list of recieved signal signals and a defference signal ref.Write a code to check if any recieved signal had the same header and same footer as ref. signals=["hi01f","h202g",h303f"]

Q.You are given a list of string words and a query Q return true if any word in words start with the same character as Q and ends with the same character as Q. words=["leetcode","love","code","lamp"] Q=["life"]

In [ ]:
q=["leetcode","like","love"]
for i in q:
  print(i.startswith("l") and i.endswith("e"))



# print(q.startswith("l"))
# print(q.endswith("e"))

True
False
True

wap to check the string with either phrase or castle

In [ ]:
X="hello welcome to my  castle"
print(X.endswith("castle"))

True

STARTSWITH / ENDSWITH FUNCTION-->>

In [ ]:
X="hello welcome in my world"
print(X.startswith("h"))
print(X.startswith("w",2,30))

True
False

COUNT FUNCTION-->>

In [ ]:
X="hello welcome in my world"
print(X.count("e"))
print(X.count("e",1,10))

3
2

In [ ]:
X="hello welcome in my world"
print(X.find("Q"))
print(X.find("e",5,10))
#print(X.index("Q")) it gives error

-1
7

find has 3 parameter -->>

1.the value you want to search

2.

3.

SPLIT and JOIN-->>aplication of reaplace ,strip,join,split are same

In [ ]:
X="This is a python programming class:"
token=X.split()
print(token)
print("@".join(token))
print(X.find("python"))  #-->>give the index number it find the first accurance of the spacific value it will return -1 if value is not found.
print(X.find("python",2,5))
print(X.find("i",2,5))

['This', 'is', 'a', 'python', 'programming', 'class:']
This@is@a@python@programming@class:
10
-1
2

APPLICATION OF replace and strip-->>

1.we can use to remove the white spalaces or special char

2.strip fun remove the leading and special char or white splaces whereas replace remove the char can be at any position

3.the application of these fun the preproccesing or cleaning the data set AI(nlp).

in raplace it remove every position character that we want-->>

In [ ]:
X="@ra@hul"
print(X.strip("@"))# strip kevl starting or one character hi strip karata h
print(X.replace("@","T"))

ra@hul
TraThul

STRIP:--

In [ ]:
X="@rahul"
print(X.strip("@"))
print(X.replace("@"," "))#-->it add the space and remove the ch

rahul
 rahul

UPPER AND LOWER CASE :--

1.we can use this method in machine learning and deep learning

2.the data set be model should be consistent this concept.

In [ ]:
X="RAHuL"
print(X.lower())

rahul

Q.reverse a string

In [ ]:
name="RAHUL"
rev=""
for ch in name :
  rev=ch+rev
print(rev)

LUHAR

In [ ]:
a="rahul"
rev=" "
rev=a[ ::-1]
print(rev)
#a[0]="B" ? why show this erro?
#print(a)

luhar

In [ ]:
s1="this is a string "
s2="this"+"is"+'a'+"string"
print(s2)
s3="this is a \
           single line "
print(s3)
print("the length of string :",len(s3))
print("first ch:",s3[0])
s4="#this is a comment"
s5=s4[:]
print(s5)
s5=s4[2:6] #-->this concept known as slicing it is used for data split their daata set into their train and test subset
print(s5)
name ="rahul"
for ch in name : #-->when we know the character in string nut it not show the value of i .
  print(ch,end="*\n")
s5="loop"
for i in range(len(s5)):
    print(-i,s5[-i])

thisisastring
this is a            single line
the length of string : 33
first ch: t
#this is a comment
his
r*
a*
h*
u*
l*
0 l
-1 p
-2 o
-3 o

STRING are the aaray of the representing unique code character .There is no seprate data type .

1.string can be created using double coma,single coma

excess indivisual char using indexing 0

string are inmutulate.

string can be repeated by multiple times.

the fn used for called string

1.int -use for the categorical encodings ,class id's,one hot indexing and token id's in nlp

2.float:-it rapresent real world value data like features , predication ,gradient,and weights

3.complex:--use to signal proccesing ,audio and image analysis,spectral methods such as FFT in EEG

4.Float32/float64:--standard in deep learning fram works like pytorch and tensorflow to blance precision and memeory uses

int32/int64:--usefull for labels indexing arrays/tensor and specifing sequence length

In [ ]:
power_levels=[86,92.5,75,88.0,91]
if power_levels:
  avarage=sum(power_levels)/len(power_levels)
  avarage=round(avarage,2) #round of fnction

else:
  avarage=0

print(avarage)

86.5

INTERVIEW TIPS:-- never understimate input validation an empty list or incorrect data analist can colaps your algorithm.

DATA TYPE:--1.numeric ,2.TEXT,3.sequence,4.mapping,5.binary,6.none

1.numeric:--int,float,complex

            x=10,x=3.14,x=3+2j

2.text:--string

          x="rahul"

3.sequence:--list,tuple,range

            x=[1,2,Rahul]

4.mapping:--dict

5.Binary:-- bytes,memoryview,bytesarray






globle and local variable

In [ ]:
msg1="hii" #<--globle variable
def greet():
  msg="hello"
  print(msg)
  print(msg1)

greet()
print("outside local scope:",msg1) #<--output

hello
hii
outside local scope: hii

swap variable

In [ ]:
thanos_score=146
thor_score=200
thanos_score,thor_score=thor_score,thanos_score
print(thanos_score,thor_score)

200 146

typcating of veairables

In [ ]:
val ="10"
val_new=int(val)
print(val_new)
val1_new=str(val)
print(val1_new)

10
10

A.hulk strength level is recorded as a string input 1000 convert it into integer and increase by 200

B. doctore strange recorde the time in second but accidently input in the form of string value is 6000 convert it in intezer and convert it into hours

In [ ]:
hulk_strength="1000"
hulk_new=int(hulk_strength)
print(hulk_new+200)
dr_strange="6000"
dr_new=int(dr_strange)
print(dr_new/60)

1200
100.0

C.lokii recorded seven hits out of ten shots both in integer convert them into flot and the calcute the accurecy pracentage

In [ ]:
shots_total=10
hits=7
acc=(float(hits)/float(shots_total))*100
print( f"Accuracy:{acc:.2f} %")

Accuracy:70.00 %

D .Thor hammer weight is 5000g in tnteze but you need calculate gravitationl force which require it is a float

In [ ]:
thor=float('5000')
print(thor*9.8)

49000.0

2.reassigning a variable does not affect other variable refrencing same object unless we append this variable

In [ ]:
a=[1,2,3]
b=a
b=[4,5,6]
print("a",a)
print("b",b)
del a  #for free up  the memory we can use this
print(a)

a [1, 2, 3]
b [4, 5, 6]
[1, 2, 3]

object refrence

In [ ]:
shield=["uibranium","round"]
copy_shield=shield
print("original shield stored:",shield)
print("wolverine changes the shield material.")
copy_shield[0]="adamantium"
print("new shield is:",shield)

original shield stored: ['uibranium', 'round']
wolverine changes the shield material.
new shield is: ['adamantium', 'round']

a=[81,82,83]
b=[81,82,83]

In [ ]:
a=[81,82,83]
b=[81,82,83]
print(a is b)
print(a==b)

False
True

Q.string operation

In [ ]:
X="hEllo"
print(X.upper())
print(X.lower())
print(X.replace('o','O'))
print(X[1:5])
print(X.title())
print(X.swapcase())
print(X.capitalize())

print(X.count('l'))
print(X.casefold())
print(X.center(50))

HELLO
hello
hEllO
Ello
Hello
HeLLO
Hello
2
hello
                      hEllo

AVARAGE FIND

In [ ]:
import statistics
powerlevel={"Iron_man":98,"Hulk":100}
              #KEY    VALUE
avg_level=statistics.mean(powerlevel.values())
print(avg_level)

99

INTERVIEW TIPS:-

1.Dictionry vs list:-dic. is best when data can be mapped.List works when order aor sequence matters.

2.Efficiency:--compute the avarage in one pass using built in function or libraries.

3.keep the time complexity in the mind.

  Q.1 WRITE the python program to find largest and smallest in list.

In [ ]:
num=[4,7,1,9,12,3]
min=max=num[0]
for n in num:
  if n<min:
    min=n
  if n>max:
    max=n
print(f"max is{max}and min is {min}")

max is12and min is 1

Q.2 ROTATE a list to the right by K step.

In [ ]:
num=[1,2,3,4,5]
k=2
k=k%len(num)
rotated=num[-k: ]+num[ :-k]
print(rotated)

[4, 5, 1, 2, 3]